nav{
    padding-left:3%;
    font-family: serif;
    padding-top: 3%;
}


li:hover{
    color:rgb(11, 245, 57);
    cursor: pointer; 
}
.hi{
    text-align: center;
    font-family: serif;
    padding-top: 1%;

}
.content{
    text-transform:capitalize;
    line-height: 20px;
}
.about{
    text-transform: capitalize;
    line-height: 20px;
}
.skills,.achievements,.project{
    border-radius: 15px;
    border: 5px solid rgb(12, 14, 15);
    color: rgb(13, 8, 8);
    background-color: rgb(214, 170, 240);
    padding: 15px;
    margin: 10px;
    width: 220px;
    display: inline-block;
    vertical-align: top;
    height: 200px;
    
}
.container{
    padding-left: 15%;
}